*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(168, 204, 236);
    height: 40vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30vh;
    left: 30vw;
    border: 2px solid rgb(168, 204, 236) ;
    border-radius: 0px 80px 50px 130px;
    
}
h1{
    display: flex;
    justify-content: center;
    margin: 10vh;
}
.btn{
    background-color:rgb(168, 204, 236) ;
    border: 1px solid rgb(168, 204, 236);
    height: 32px;
    width: 120px;
    position: absolute;
    left: 45vw;
    cursor: pointer;
    margin-top: -35px;
}
.btn:hover{
    background-color: rgba(96, 239, 239,0.8);
}
.visibility {
    visibility: visible;
}